MLBDA/tds/dtd1/restaurant.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>

<!ELEMENT restaurant ( nom , fermeture,ville , etoile, menus ) >
<!ELEMENT nom (#CPDATA) >
<!ELEMENT fermeture (#CPDATA) >
<!ELEMENT ville ( nom, departement,monument )>
<!ELEMENT departement (#PCDATA)>
<!ELEMENT monument (nom,tarif)>
<!ELEMENT tarif (#PCDATA)>
<!ELEMENT etoile (#PCDATA) >
<!ELEMNT menus(menu+)>  
<!ELEMENT menu (nom, prix)>
<!ELEMENT prix (#PCDATA)>
	  
