MLBDA/tds/dtd1/ville.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>

<!-- type de donnnee pour le guide touristique -->
<!-- a completer ... -->



<!ELEMENT ville (nom, departement, plusbeaumonument )>
  <!ELEMENT nom (#PCDATA) >
  <!ELEMENT departement (#PCDATA) >
  <!ELEMENT plusbeaumonument ( nom, tarif ) >
    <!ELEMENT tarif (#PCDATA) >
