MLBDA/tds/dtd/restaurant.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>

<!ELEMENT restaurant (nom, ville, fermeture, etoile, menus)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT fermeture (#PCDATA)>
<!ELEMENT etoile (#PCDATA)>
<!ELEMENT ville (nom, departement, monument)>
<!ELEMENT departement (#PCDATA)>
<!ELEMENT monument (nom, tarif)>
<!ELEMENT tarif (#PCDATA)>
<!ELEMENT menus (menu+)>
<!ELEMENT menu (nom, prix)>
<!ELEMENT prix (#PCDATA)>
